<h3>Ejercicio 1</h3>
<div class="w-25">
  <label>Edad uno</label>
  <input type="number" class="form-control" [(ngModel)]="edadUno" />
  <br>
  <label>Edad dos</label>
  <input type="number" class="form-control" [(ngModel)]="edadDos" />
</div>

<div class="w-25 mb-4">
  <label>Promedio</label>
  <input type="text" class="form-control" [ngModel]="promedio" />
  <br>
  <label>Suma</label>
  <input type="text" class="form-control" [ngModel]="suma" />
</div>

<div class="mb-5">
    <button class="btn btn-danger" (click)="calcular()">Calcular</button>
    <button class="btn btn-primary" (click)="limpiar()">Limpiar</button>
</div>

<h3>Ejercicio 2</h3>
<div>
  <navbar />
</div>
<br>
<router-outlet />