<label>Edad uno</label>
<br>
<input type="text" placeholder="Ingrese la primera edad" class="form-control w-25" [(ngModel)]="edadUno" />
<br>
<label>Edad dos</label>
<br>
<input type="text" placeholder="Ingrese la segunda edad" class="form-control w-25" [(ngModel)]="edadDos" />

<br><br>

<button (click)="Calcular()" class="btn btn-danger">Calcular</button>
<button (click)="Limpiar()" class="btn btn-danger">Limpiar cuadros de texto</button>

<br><br>

<label>Promedio</label>
<br>
<input type="text" class="form-control w-25" [ngModel]="promedio" />
<br>
<label>Suma</label>
<br>
<input type="text" class="form-control w-25" [ngModel]="suma" />